<h3>Edit an existing cocktail</h3>

<form action="/cocktails" method="post">

  <div>
    <p>
      <label for="name">Name: </label>
      <input type="text" name="cocktail[name]" id="name">
    </p>


    <div class = "inline">
    <p>
      <label for="description">Dose: </label>
      <input type="text" name="dose[description]" id="description">
    </p>

    <p>
      <label for="name">Ingredient: </label>
      <input type="text" name="ingredient[name]" id="name">
    </p>

      <%= link_to 'remove', edit_cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure to delete?'} %>
    </div>

      <%= link_to 'add ingredient', new_cocktail_path(@cocktail)%>
  </div>

  <input type="submit">
</form>
