<h3>These are all the cocktails</h3>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktails_path%>

      <%= link_to 'edit', edit_cocktail_path(@cocktail)%>
      <%= link_to 'remove', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure to delete?'} %>
    </li>
  <% end %>
</ul>

<ul>
  <li>
      <%= link_to 'new cocktail', new_cocktail_path %>
  </li>
</ul>>
