<h3>Cocktails list</h3>
<div>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <h4> <%= link_to cocktail.name, cocktail_path(cocktail)%></h4>
        <%= link_to 'edit', edit_cocktail_path(cocktail)%>
        <%= link_to 'remove', cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure to delete?'}%>
      </li>
    <% end %>
  </ul>
</div>

<div>
    <%= link_to 'add cocktail', new_cocktail_path %>
</div>
