<h4>Create a new cocktail</h4>

<%= link_to 'cancel', cocktails_path, data: { confirm: 'You want to cancel?'} %>

<%= simple_form_for @cocktail do |f| %>
<%= f.input :name %>
<%= f.submit %>
<% end %>

