<h3>Enter dose and ingredient for a spacific cocktail</h3>

<form action="/cocktails" method="post">

  <div>
    <div class = "inline">
      /* choose dose amount */
      <label for="description">Dose: </label>
      <input type="text" name="dose[description]" id="description">

      /* choose ingredient */
      <label for="name">Ingredient: </label>
      <input type="text" name="ingredient[name]" id="name">

    </div>
  </div>

  <input type="submit">
</form>
